.gb-border {
	padding: 9px 14px;
	margin-bottom: 14px;
	border: 1px solid #e1e1e8;
	border-radius: 4px;	
}

div#entries {
	margin: auto;
	width: 50%;
}

div.gb-entry {
	background-color: #f7f7f9;
}

form.gb-form {
	margin: auto;
	width: 50%;
}
