<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/resources/js/guestbook.js}"></script>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/resources/css/style.css}" type="text/css" />
		<title th:text="#{guestbook.title}">Gästebuch</title>
	</head>
	<body>
		<h1 class="text-center" th:text="#{guestbook.title}">Gästebuch</h1>
	
		<div class="checkbox text-center">
			<input type="checkbox" id="use_ajax" />
			<label for="use_ajax" th:text="#{guestbook.useajax}">Ajax nutzen</label>
		</div>
		
		<div class="text-center">
			<a sec:authorize="isAnonymous()" href="/login">Login</a>
			<a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
		</div>
		
		<br />

		<div id="entries" class="mx-auto">			
			<div th:each="entry, it : ${entries}" th:with="index = ${it.count}">
				<div class="card" th:fragment="entry" th:id="entry+${entry.id}">
					<div class="card-header">
						<form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/guestbook/{id}(id=${entry.id})}" th:attr="data-entry-id=${entry.id}">
							<button th:title="#{guestbook.form.delete}" class="btn btn-sm float-right">
								<span class="fas fa-times"></span>
							</button>
						</form>
						<form sec:authorize="hasRole('ADMIN')" th:method="post" th:action="@{/guestbook/hide/{id}(id=${entry.id})}" th:attr="data-entry-id=${entry.id}">
							<button th:title="${entry.hidden} ? 'show' : 'hide'" class="btn btn-sm float-right">
								<span th:text="${entry.hidden} ? 'show' : 'hide'"></span>
							</button>
						</form>
						<h4 th:text="${index} + '. ' + ${entry.name}" class="card-title">1. Posting</h4>
					</div>
					<div class="card-body" th:classappend="${entry.hidden} ? 'hidden': ''">
						<blockquote class="entrytext" th:text="${entry.text}"></blockquote>
					</div>
					<div class="card-footer">
						<footer class="date" th:text="${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</footer>
					</div>
				</div>
			</div>
		</div>

	
		<form method="post" role="form" class="gb-form" id="form" th:action="@{/guestbook}" th:object="${form}">
			<div class="form-group">
				<label for="name" th:text="#{guestbook.form.name}">Name</label><br /> 
				<input class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid" required="required" />
				<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:text="#{guestbook.form.name.required}">Please provide a name.</div> 
			</div>
			<div class="form-group">
				<label for="text" th:text="#{guestbook.form.text}">Text</label><br /> 
				<textarea th:field="*{text}" th:errorclass="is-invalid" class="form-control" required="required"></textarea>
				<div th:if="${#fields.hasErrors('text')}" class="invalid-feedback" th:text="#{guestbook.form.text.required}">Please provide a text.</div>
			</div>
			<input type="submit" class="btn btn-secondary" th:value="#{guestbook.form.submit}" value="Senden" />
		</form>

	</body>
</html>