<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<title th:text="#{guestbook.ajax.title}">Gästebuch Ajax</title>
</head>

<body>
	<h1 th:text="#{guestbook.ajax.title}">Gästebuch Ajax</h1>

		<div class="entries center-block" th:id="entry + ${entry.id}" th:each="entry : ${guestbookEntries}">
				<div class="gb-entry gb-border">
					<button type="button" class="btn btn-default pull-right" th:attr="data-post-id=${entry.id}">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<blockquote class="entrytext" th:text="${entry.text}"></blockquote>
					<footer class="date" th:text="${#dates.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</footer>
				</div>
		</div>

		<form method="post" role="form" class="gb-form gb-border">
			  <div class="form-group">
					<label for="name" th:text="#{guestbook.form.name}">Name</label><br /> 
					<input name="name" id="name" class="form-control" type="text" /><br /> 
			  </div>
			  <div class="form-group">
					<label for="text" th:text="#{guestbook.form.text}">Text</label><br /> 
					<textarea name="text" id="text" class="form-control"></textarea><br /> 
			  </div>
			  <input type="submit" class="btn btn-default" id="add_entry" th:value="#{guestbook.form.submit}" value="Senden" />
		</form>

		<p class="text-center">
			<a href="/" th:text="#{guestbook.back}">Zurück</a>
		</p>

	<!--  http://api.jquery.com/category/plugins/templates/ -->
	<script id="entryTemplate" type="text/x-mustache-template">
				<div class="gb-entry gb-border">
					<button type="button" class="btn btn-default pull-right" data-post-id="{{entry.id}}">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<blockquote class="entrytext">{{entry.text}}</blockquote>
				</div>
		</script>

	<!--  http://www.evotech.net/blog/2007/05/including-javascript-in-xhtml/ -->
	<script type="text/javascript">
		//<![CDATA[
		           
		$(document).ready(function() {
			$('#add_entry').click(addEntry);
			
			$('.entries').on('click',':button', function(){
				var id = $(this).attr('data-post-id');
				removeEntry(id);
				}
			)
			
			function addEntry(e) {
				e.preventDefault();
				
				$.post('', {name : $('#name').val(), text : $('#text').val()}, 
				function(e) {
					//$("#text").val("");
					$("#text").val(e);

					//var entry = $("#entryTemplate").tmpl(e);

					//entry.hide();
					//entry.appendTo(".entries");
					//entry.slideDown(500);
				}, "json");
				
				
				//var template = $('#entryTemplate').html();
				  //var rendered = Mustache.render(template, {name: "Luke"});
				  //$('#target').html(rendered);
			}
			
			function removeEntry(id) {
				$.ajax({
					url: id,
					type:'DELETE',
					success: function(success) {
						if (success) {
							$('#entry' + id).slideUp(500, function() {
								$(this).remove();
							});
						}
					}
				});
			}
		}
		);

		//]]>
	</script>
</body>
</html>